a.out

c-day0/hello_world

c-io/fgets
c-io/hello
c-io/guessing-game

strings/strtok
strings/string_fns

types/types
types/array_passing
types/array_types

debugging/buggy

processes/process_creation

memory/buffer_overrun
memory/dynamic_array
memory/initialization
memory/nums.txt
memory/pointers
memory/rand_file
memory/return_local
memory/stack

adt/sensor_data
adt/rand_file
adt/temps.txt

linked-data-structures/ll_driver

sockets/echo_client
sockets/echo_full_client
sockets/echo_server
sockets/echo_full_server
sockets/vote_client
sockets/vote_server


# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
